<table class="table table-striped">
  <thead>
    <tr>
      <th>Caption</th>
      <th>Picture</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @memes.each do |meme| %>
      <tr>
      <td><%= meme.caption %></td>
      <td>
      <%= link_to meme_path(meme) do %>
      <%= image_tag meme.picture.url, height: 100  %>
      <% end %>
      </td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      meme_path(meme), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_meme_path(meme), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      meme_path(meme),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>